.listing-image img {
  max-height: 300px;
  max-width: 300px;
}
.image-url-row {
  float: left;
}
.listing-description-row {
  margin-top: 6px;
}
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}
.col-max {
    max-width:440px;
}
.item {
    width:100%;
    height:100%;
}
.progress {
  margin-top: 20px;
}
.dynamic-grid{
  position: relative;
  display: none;
}
.dynamic-grid.angular-grid{
  display: block;
}
.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded{
  visibility: visible;
  opacity: 1;
}
.titleClass {
  padding: 15px 15px 0px 15px;
  font-weight: bold;
  font-size: 16px;
}
.titleClass2 {
  padding: 0px 15px 15px 15px;
  font-weight: bold;
  font-size: 16px;
}
.uploadLookTitle button {
  max-width: 300px;
  margin-left: 20px;
}
.look-description-trim {
  padding: 15px 15px;
  border-bottom: 2px solid #ccc;
  border-top: 1px solid #ccc;
}
.uploaded-date {
  margin-top: 5px;
  font-size: 14px;
  color: #999;
  padding: 0 5px;
}
.lookLink {
  color: #000;
  text-decoration: none;
}
.lookLink:hover {
  text-decoration: none;
  color: #000;
}
#alertContainer {
  margin-top: 10px;
}
/*#loadButton {
  margin: 20px 0px 10px 105px;
}*/
#searchFilterWrap {
  

  text-align:  center;
  margin-bottom: 50px;
  margin-top:30px;
/*
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 23px;
  max-width: 800px;
  overflow: hidden;
  padding-right: 350px;*/
}
#searchForm {
  float: left;
  position: relative;
  width: 100%;
}
#searchForm .icon-search {
  font-size: 22px;
  position: absolute;
  right: 10px;
  top: 8px;
}
#searchBox {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding-left: 15px;
  padding-right: 40px;
  width: 100%;
}
#sortByWrap {
  float: left;
  margin-right: -1500px;
  padding-left: 15px;
}
#sortByWrap [class^=icon-],#sortByWrap [class*=" icon-"] {
  background: none repeat scroll 0 0 #f7faff;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
#rssButton {
  width: 60px
}
.well.well-lg {
  width: 400px;
  padding: 10px 15px;
}
.inputArea {
  width: 300px;
  height: 20px;
}
.form-control {
  display: inline;
  width: 70%;
}
#sortByWrap i {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px
}
.thumbLike, .trashCan {
  padding: 0 5px;
}
.likeCount {
  font-size: 16px;
  color: #1e1e1e;
}
.viewCount {
  font-size: 20px;
  margin-right: 10px;
  margin-top: 5px;
}
.icon-views {
  margin-right: 10px;
  margin-top: 4px;
}
.close-btn-main button {
  margin-left: 20px;
}
.like-look {
  color: #333333;
}


.navbar-inverse{
  /*아래는 실질적으로 navbar의 테두리가 동그랗게 하지 않도록, 테두리가 생기지 않도록 초기화 하는 것이다*/
  border-radius: 0px;
  border-style: none;
  /*navbar 아래에 바로 붙도록 하기 위함이다 하지만 navbar-fixed-top 옵션을 붙인다면 아래도 더이상 소용 없다*/
  /*margin-bottom: 0px;*/

  /*아래는 부트스트랩에서 제공해주는 navbar-fixed-top을 사용하지 않고 기본적으로 navbar를 fixed해주는 것이다.*/
  /*http://sixrevisions.com/css/fixed-navigation-bar/ 이 사이트를 참고하면 된다*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 52px;
  /*background-color: #00a087;*/
}



::-webkit-input-placeholder { /* Chrome */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: black;
  opacity: 1;
}


.img-thumbnail {

    /*display: inline-block;*/
    display: block;
    margin: 0 auto;


    max-width: 100%;
    max-height: 90%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

   

/*

.w3-row-padding img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
} 

.w3-row-padding img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
}
*/
/*.container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}
*/