<!-- <div ng-include="'app/components/navbar/navbar.html'"></div> -->
<div class="container" style="margin-top:100px">
  <div class="listing-wrap">
    <div class="row">
      <!-- main content (images, description, comments) -->
      <div class="col-sm-7">
        <div class="listing-main" style="text-align: center; ">
            <h1 style="margin: 30px 0px">{{ look.title }}</h1>

          <div class="listing-images" style="
    text-align: -webkit-center;
">
              <img ng-src="{{ look.image }}"
                      class="img-responsive">
          </div>

          <div class="listing-description" >
            <h3 style="color: #373737; border-bottom:  1px solid #373737;  margin-bottom: 30px">내용</h3>
            {{ look.description }}
          </div>
          <div class="listing-description">
            <h3 style="color: #373737; border-bottom: 1px solid #373737;  margin-bottom: 30px">날짜</h3>
            {{ look.date }}
          </div>

          <h3 style="color: #373737; border-bottom:  1px solid #373737; "> 댓글 달기</h3>
          <form ng-submit="postComment()"
                    class="create-comment" style="margin-top: 30px; margin-bottom: 30px">
            <div class="form-group">
              <input type="text"
                        class="form-control"
                        placeholder="댓글로 참여 의사를 밝히세요"
                        ng-model="comment.body" style="width: 80%; display: inline;">
                        <button type="submit"
                          class="btn btn-primary" style="background-color: #e55f5e; border-color: #e55f5e">댓글달기</button>
            
            </div>
          </form>
          <div class="container comments-div" ng-repeat="comment in comments">
            <div class="row">
              <div class="col-sm-1">
                <div class="thumbnail">
                  <img class="img-responsive user-photo"
                           ng-src="{{ comment.gravatar }}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>{{ comment.author.name }}</strong>
                      <span class="text-muted">Posted on: {{ comment.createTime | amDateFormat:'MMMM Do, YYYY' }}</span>
                  </div>
                  <div class="panel-body">
                    {{ comment.comment }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- the extra content (title, looks, date, user, save) -->
      <div class="col-sm-5">
        <div class="listing-extra" style="
    border-color: #e55f5e;
">
          <div class="listing-info">
            <div class="panel panel-default friends">
              <div class="panel-body">
                <ul class="row">
                  <li ng-repeat="plook in popLooks">
                    <a ui-sref="look ({ lookId: plook._id })">
                      <img class="img img-responsive" ng-src="{{ plook.image }}"></a>
                  </li>
                </ul>
              <h3 class="panel-title-friends">더 많은 단체할인 모임들</h3>
            </div>
          </div>

          <div class="row">
            <div class="like-views-panel">
              <a href="#"
                   class="like-look"
                   ng-click="addVote(look)">
              <i class="fa fa-thumbs-o-up fa-2x icon-listing-like"></i></a>
                <span class="likeCountListing">{{ look.upVotes }}</span>

                <span class="viewCountListing pull-right">{{ look.views }}</span>
              <i class="fa fa-eye fa-2x pull-right icon-listing-view"></i>
            </div>
          </div>

          <div class="row">
            <div class="listing-extra-date">
              <span class="date-small">Added:</span>
                <span class="listing-date-display">
                  {{ look.createTime | amDateFormat:'MMMM Do, YYYY' }}</span>
                 <span class="listing-name-display">By <a href="#">{{ look.userName }}</a></span>
              </div>
            </div>
          </div>
          <!-- Save to Favorites -->
          <!-- only show save button if logged in -->
<!--           <a ui-sref="save ({ id: look._id })"
               class="look-save btn btn-success btn-block"
               ng-show="currentUser.id">
               Save
          </a>
          <a ui-sref="authenticate"
               class="listing-buy btn btn-success btn-block"
               ng-show="!currentUser.id">
            Login/Signup to Save Look
          </a>
 -->        </div>
      </div>
    </div>
  </div>
</div>